# Build Directory
build/
bin/
mpc_venv
# Vim c_tags files
c_*
SEAL
*.onnx
.idea/
.vscode/
*.sh
*.dat
*.npy
*.txt
*Zone.Identifier
*.zip
*.dot
*.csv
*.out
experiments/orca/datasets/
experiments/orca/keys/
experiments/orca/output/
experiments/orca/weights/
experiments/orca/figure/
*.tar.gz
experiments/datasets/mnist/*
*/datasets/*